@use '../import' as *;

.postList-item {
  padding: 1em;
}

.postList-item-link {
  display: flex;
  color: blue;
  justify-content: center;
}

.postList-item-title {
  font-size: 1rem;
  margin-left: 1em;
}

@include mq('max', 'mobile') {
}

@include mq('min', 'mobile') {
}
