@use 'import' as *;

@layer reset, components, utils;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    min-inline-size: 0;
    padding: 0;
    margin: 0;

    .preload & {
      transition: none !important;
    }
  }

  :where(:root) {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-feature-settings: 'palt' 1;
    line-height: var(--line-height);
    color: var(--color-green);
    text-align: start;
    letter-spacing: var(--letter-spacing);
    word-break: normal;
    overflow-wrap: anywhere;
    touch-action: manipulation;
    // scroll-padding-block-start: var(--scroll-padding-block-start);
    background-color: #fff;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-break: strict;

    --font-family: helvetica, 'Helvetica Neue', sans-serif;
    --font-weight: 400;
    --line-height: 1.5;
    --color-black: #000;
    --width-pc: 1440;
    --height-pc: 1024;
    --width-sp: 390;
    --letter-spacing: 0.05em;
    --leading-trim: calc((1cap - 1lh) / 2);
  }

  :where(body) {
    min-block-size: 100svb;
    overflow-y: scroll;
  }

  :where(h1, h2, h3, h4) {
    letter-spacing: 0;
  }

  :where(ul, ol) {
    list-style: '' outside none;
  }

  :where(:any-link) {
    color: unset;
    text-decoration-line: none;
    text-decoration-thickness: from-font;
    text-underline-offset: 0.25em;
    background-color: unset;
  }

  :where(table) {
    inline-size: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  :where(td, th) {
    text-align: start;
    vertical-align: top;
  }

  :where(svg, video, canvas, audio, iframe, embed, object, picture) {
    display: block;
  }

  :where(img) {
    max-inline-size: 100%;
    block-size: auto;
    color: transparent;
    vertical-align: middle;
    pointer-events: none;
    user-select: none;
  }

  :where(button, input, select, textarea),
  ::file-selector-button {
    font-family: unset;
    font-feature-settings: unset;
    color: unset;
    text-align: unset;
    text-transform: unset;
    letter-spacing: unset;
    vertical-align: middle;
    background-color: unset;
    border-color: transparent;
    border-width: 0;
    border-radius: unset;
  }

  :where(button) {
    cursor: pointer;
  }
}
