@use './import' as *;

.inner {
  position: relative;
  z-index: 1;
  max-width: 988px;
  margin-left: auto;
  margin-right: auto;
}

.br-pc {
  @include mq('max', 'mobile') {
    display: none;
  }
}

.br-sp {
  @include mq('min', 'mobile') {
    display: none;
  }
}

.visible-pc {
  @include mq('max', 'mobile') {
    display: none;
  }
}

.visible-sp {
  @include mq('min', 'mobile') {
    display: none;
  }
}

.heading {
  font-weight: bold;
  text-align: center;
  margin-top: rem(12);

  + * {
    margin-top: rem(50);
  }

  @include mq('max', 'mobile') {
    font-size: vw_sp(34);
  }

  @include mq('min', 'mobile') {
    font-size: 40px;
  }
}

.button {
  display: block;
}

.inside-blank {
  @include mq('max', 'mobile') {
    padding-left: vw_sp(14);
    padding-right: vw_sp(14);
  }

  @include mq('min', 'mobile') {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.bg-white {
  background-color: #fff;
}
